<div class="hero-head">
  <nav class="navbar has-background-light has-text-grey-dark">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item">
          <p class="title has-text-info-dark">
            Clínica Santa María
          </p>
        </a>
        <span class="navbar-burger" data-target="navbarMenuHeroB">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      
      <div id="navbarMenuHeroB" class="navbar-menu has-background-light">
        <div class="navbar-end has-background-light">
          <p class="navbar-item has-text-grey-dark is-hidden" id="email-user-content"><span class="icon mr-2 pt-1">
            <i class="fas fa-user"></i>
          </span><span id="email-user"></span></p>

          <a id="index-nav"  class="navbar-item" href="index.html">
            Home
          </a>
          <a id="schedule-nav" class="navbar-item" href="agenda.html">
            Agenda
          </a>
          <a id="register-nav"  class="navbar-item" href="registro.html">
            Reserva de hora
          </a>
          <a id="login-nav" class="navbar-item" href="login.html">
            Iniciar sesión
          </a>
        </div>
      </div>
    </div>
  </nav>
  <script type="text/javascript">
  console.log('otro texto');
  </script>
</div>
