.hero {
  width: 100%;
  position: relative;
  background-image: url("../img/clinica.jpg");
  background-size: cover;
  background-position: center;
}

/*comentario*/

.hero::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000000a1;
  opacity: 0.4;
  position: absolute;
}
