* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  width: 100%;
  position: relative;
  background-image: url("/desafio-horas-medicas/assets/img/clinica.jpg");
  background-size: cover;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

section {
  overflow: hidden;
}

/*Barra de navegación superior*/
header {
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

header a:hover {
  background-color:darkgray;
  color: white;
}

.nav-title {
  float: left;
  margin-top: 5px;
}

ul {
  list-style-type: none;
  padding: 0px 20px;
}

li {
  float: right;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a.active {
  color: white;
  background-color: #04AA6D;
}

/*Contenido de la página*/
main {
  padding-top: 80px;
  padding-bottom: 100px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.index {
 padding: 20px 20px;
 color: #f3f3f3;
 text-indent: 50px;
}

.about-us {
  height: 200px;
  padding: 2%;
  text-align: justify;
  margin-left:20px;
  margin-right: 20px;
  background-color: white;
  border-radius: 5px;
}

.about-us p {
  padding-bottom: 10px;
}

main h4 {
  line-height: 1.5;
  letter-spacing: 0.5px;  
}

main p {
  line-height: 1.5;
  letter-spacing: 0.5px;
}

hr {
  margin-top: 30px !important;
  width: 30%;
  margin: auto;
  height: 2px;
  background-color: #f3f3f3;
}

.specialities, .contact {
  display: flex;
}

article {
  margin: 0px 20px;
  width: 30%;
  padding: 2%;
  text-align: justify;
  background-color: white;
  border-radius: 5px;
}

article > img {
  width: 100%;
  height: 70%;
  opacity: 1;
  padding-bottom: 1%;
}

article p {
  padding-bottom: 30px;
}

.ubication, .contact-form {
  width: 50%;
}

.ubication p {
  font-size: 14px;
}
textarea {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 5px 5px 5px;
}

.contact-form div {
  padding-top: 20px;
}

.btn-cont {
  width:20%;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}

.fa-brands {
  font-size: 40px;
  padding-right: 5px;

}

/*Pie de página*/
footer {
  padding: 20px;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  width: 100%;
  position:fixed;
  left: 0px;
  bottom: 0px;
  font-size: smaller;
}

/*Formulario de registro*/
.form {
  width: 40%;
  margin: auto;
  padding: 3%;
  box-shadow: 0px 3px 5px 3px #888888;

}

.form h4 {
  padding-top: 30px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-size: small;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}
/*
input[type="text"] {
  width: 50%;
  box-sizing: border-box;
}

input[type="date"] {
  width: 50%;
  box-sizing: border-box;
}
*/
select {
  width: 100%;
  padding: 5px;
}

textarea {
  width: 100%;
  box-sizing: border-box;
}

.btn-register {
  width: 20%;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
}

/*Tabla de listado de reservas*/
.table {
  overflow: scroll;
  margin: auto;
  width: 75%;
  padding: 3%;
  box-shadow: 0px 3px 5px 3px #888888;

}

.table h3 {
  padding-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

table button {
  width:50%;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}

/*Detalle de hora reservada*/
.detail {
  width: 50%;
  margin: auto;
  padding-top: 20px;
  padding: 3%;
  box-shadow: 0px 3px 5px 3px #888888;
}

.detail h4 {
  padding: 20px 0 10px 0;
}

.detail th {
  text-align: left;
  width: 40%;
}

#message {
  color: red;
  font-weight: bold;
}

@media (max-width: 768px) {
  /*Contenido de la página*/
  .about-us {
    height: 35vh;
  }

  .specialities, .contact {
    display: block;
    }

  article {
    margin: 10px 20px;
    width: 90%;
  }

  .ubication, .contact-form {
    width: 90%;
  }

  .ubication p {
    font-size: 14px;
  }

  textarea {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 5px 5px 5px;
  }

  /*Formulario de registro*/
  .form {
    width: 60%;
  }

  /*Tabla de listado de reservas*/
  .table {
    width: 95%;
    padding: 1%;
  }

  /*Detalle de hora reservada*/
  .detail {
    width: 80%;
  }
}